.container {
  box-sizing: border-box;
}
.header {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 64px;
  width: 100%;
  padding: 18px 20px;
}
.title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;

  color: #1e1f21;
}
.divider {
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  width: 100%;
}
.body {
  box-sizing: border-box;
  padding: 24px 24px 0px;
  overflow: auto;
  height: calc(100vh - 70px);
}
