.container {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 32px;
  z-index: 1;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
  &:hover {
    background: #ededed;
  }
}
